body {
  background-color: black;
  font-family: Arial;
  padding: 20px;
}

h1, h2, h3, h4, h5, p, a, blockquote
{
  color: white;
}

h2
{
  font-size: 18px;

}

.rightcolumn {
  float: right;
  width: 70%;
  text-align: center;
}

.leftcolumn {
  background-color: red; 
  float: left;
  width: 25%;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.imagenPer
{
  align-items: center;
  width: auto;
  height: auto;
  max-height: 125px;
  max-width: 125px;
  border-radius: 50%;
}

.botonMenu {
  cursor: pointer;
}

.menu a:hover
{
  background-color: black;
}

.menu
{
  align-items: center;
  width: 100px;
  height: 100px;
}

.nav ul{
  list-style: none;
}

.nav ul li{
  padding: 20px;
  border-bottom: 1px solid rgba(202, 202, 202);
  border-top: 1px solid rgba(202, 202, 202);;
}

.sociales{
  margin: 5px;
  padding: 20px;
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  background-color: red;
}

.sociales a:hover{
  text-decoration: none;
}

.sociales:hover img{
  filter: blur(1px);
}


.sociales img:hover{
  transform: translateY(-3px) scale(1.1);
  filter: none;
}

.iconosSociales{
  max-width: 200px;
  min-width: 150px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: #C7C7C7;
  font-weight: bold;
  background-color: red;
}

.sociales img{
  margin: 5px;
  padding: 5px;
  height: 25px;
  width: 25px;
}

.menu
{
  width: 100%; 
  padding: 0%;
  color: white;
  text-decoration: none;
  display: inline-block;    
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav ul{
  list-style: none;
}

.nav ul li{
  border-bottom: 1px solid rgba(202, 202, 202);
  border-top: 1px solid rgba(202, 202, 202);;
}

.img {
  width: 75%;
  padding: 20px;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.titulo{
  font-size: 30px;
  color:#fff;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.info-titulo {
  font-size: 13px;
  color: #fff;
  margin: 30px;
  justify-content: center;
  text-align: center;
}

.principal {
  height: 3px;
  width: 4%;
  margin-left: 48%;
  background-color: hsl(347, 85%, 47%);
}

/*Perfil Profesional*/
.perfil {
  font-size: 20px;
  color: #fff; 
}

.info-perfil{
  font-size: 13px;
  color: #fff;
  margin: 30px;
  justify-content: center;
  text-align: justify;
}

.ajedrez{
  float: left;
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 400px;
  margin-left: 100px;
  margin-right: 20px;
}

.boton-1{
  padding: 10px 24px;
  background-color: #fff;
  color: #ee4266;
  font-weight: bold;
}

.boton-1:hover{
  background-color: #ee4266;
  color: #fff;
}

/*Educacion*/
.perfil {
  font-size: 20px;
  color: #fff; 
}

.info-perfil{
  font-size: 13px;
  color: #fff;
  margin: 30px;
  justify-content: center;
  text-align: justify;
}

.manos{
  float: right;
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 400px;
  margin-left: 100px;
  margin-right: 20px;
}

.botonAdd
{
  align-items: center;
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
}

.botonRemove
{
  align-items: center;
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
}

.boton-1{
  padding: 10px 24px;
  background-color: #fff;
  color: #ee4266;
  font-weight: bold;
}

.boton-1:hover{
  background-color: #ee4266;
  color: #fff;
}

.fotosGenerales
{
  position: static;
  width: 30%;
  height: 30%;
  object-position: left;
}

.perfilEstudiantil
{
  position: static;
  object-position: right;
}

.fotosTrabajos
{
  position: static;
  width: 45%;
  height: 45%;
  object-position: left;
}

.trabajo
{
  background-color: black;
}

.menuImagenes{    
  background: black;
  color: #6b6b6b;
  display: flex;
  text-align: center;
  align-items: center;
  grid-area: sidebar;
  font-size: 13px;
  padding: 5px;
}

div.blueTable
{
  border: 1px solid #1C6EA4;
  text-align: left;
  border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead
{
  border: 1px solid #AAAAAA;
  padding: 2px 2px;
  text-align: center;
}

.divTable.blueTable .divTableBody .divTableCell
{
  font-size: 13px;
}

.divTable
{ 
  display: table; 
}

.divTableRow 
{ 
  display: table-row; 
}

.divTableHeading 
{ 
  display: table-header-group;
  align-items: center;
}

.divTableCell, .divTableHead
{ 
  display: table-cell;
}

.divTableCell:hover
{
  background-color: gray;
}

.divTableHeading 
{ 
  display: table-header-group;
}

.divTableFoot 
{ 
  display: table-footer-group;
}

.divTableBody
{ 
  display: table-row-group;
}

.contacto
{
  position: static;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.peliculasTop .imagenesTab
{
  justify-content: center;
  
}

.imagenesTab
{
  background-color: red;
  max-height: 300px;
  max-width: 300px;
}

.peliculasTop
{
  justify-content: center;
  border: 1px solid #1C6EA4;
  align-items: center;
  float: left;
  height: auto;
  width: auto;
}

.imagenesTab
{
  justify-content: center;
  align-items: center;
  float: right;
  height: auto;
  width: auto;
}

.titulos .imagenes
{
  background-color: lightseagreen;
}

th
{
  color:white
}

td
{
  color: white;
}

#popup {
  background-color:red;
  border:1px solid #000;
  padding:2px;
  position:absolute;
  z-index:10;
}
